.App{
    text-align: center;
}

.counterTool{
    padding: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.counter-btn{    
    color: white;
    background-color: tomato;
    border-radius: 50%;
    border: 1px solid orange;
}

.poke-list{
    color: orange;
    border: orangered;
}